@font-face {
  font-family: "OpenSans-Regular";
  src: url('../../build/font/Open_Sans/OpenSans-Regular.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url('../../build/font/Open_Sans/OpenSans-SemiBold.ttf') format("truetype");
  font-style: normal;
  font-weight: normal;
}
