@font-face {
  font-family: "OpenSans-Regular";
  src: url('../font/Open_Sans/OpenSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url('../font/Open_Sans/OpenSans-SemiBold.ttf') format("truetype");
}
