@font-face {
  font-family: "OpenSans-Regular";
  src: url('../font/Open_Sans/OpenSans-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url('../font/Open_Sans/OpenSans-SemiBold.ttf') format("truetype");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url('../font/Open_Sans/OpenSans-Light.ttf') format("truetype");
}
@font-face {
  font-family: "SourceSansPro-Regular";
  src: url('../font/Source_Sans_Pro/SourceSansPro-Regular.ttf') format("truetype");
}
