//font
$font-main-page: "OpenSans-Regular", "arial", sans-serif;
$font-title-page: "OpenSans-SemiBold", "arial", sans-serif;

//color
$color-standard-text: rgba(0, 0, 0, 0.35);

//background
$bg-gamburger: #706b73;