//font
$font-main-page: "OpenSans-Regular", "arial", sans-serif;
$font-title-page: "OpenSans-SemiBold", "arial", sans-serif;

//color
$color-standard-text: rgba(0, 0, 0, 0.65);
$color-title-text: #626262;
$color-first-word: #fc6744;
$color-btn-text: #ffffff;
$color-card-1: #4eb2f7;
$color-card-2: #c049f8;
$color-card-3: #817eff;
$color-card-4: #f74770;
$color-card-text: #ffffff;
$color-card--btn-text: #000000;

//background
$bg-gamburger: #706b73;
$bg-border-logo: #746f77;
$bg-btn-form: rgba(255, 92, 54, 1);
$bg-btn-hover: rgba(255, 92, 54, 0.8);
$bg-btn-active: rgba(0, 0, 0, 0.65);
$bg-card-shadow: rgba(20, 20, 21, 0.4);

//class
.element-decoration-color {
  color: $color-first-word;
}
.btn {
  align-self: center;
  padding: 14px 65px;
  font-family: $font-main-page;
  font-size: 16px;
  line-height: 25px;
  border-radius: 30px;
  border-width: 0;
  &:focus {
    outline-width: 0;
  }
  &:hover {
    cursor: pointer;
  }
  &:active {
    background: $bg-btn-active;
  }
}