.main-footer {
  @include container;
  @include flex-col;
  margin-top: 220px;
}
.main-footer__top {
  @include flex-row;
  flex-wrap: wrap;
}
.main-footer__top-wrapper-img {
  margin: 0;
  margin-right: 90px;
  &:first-child {
    margin-left: 9px;
  }
  &:nth-child(3) {
    margin-right: 50px;
  }
  &:nth-child(4) {
    margin-right: 69px;
  }
  &:nth-child(5) {
    margin-right: 58px;
  }
  &:nth-child(6) {
    margin: 0;
  }
}
.main-footer__bottom {
  @include flex-col;
  margin-top: 133px;
}
.main-footer__bottom-btn {
  padding-left: 82px;
  padding-right: 80px;
  align-self: center;
  background: #ffffff;
  border: 1px solid rgba(1, 2, 2, 0.07);
  box-shadow: 0 11px  20px rgba(20, 20, 21, 0.1);
}
.main-footer__wrapper-bottom {
  @include flex-row;
  margin: 50px 0;
  justify-content: center;
}
.main-footer__bottom-social {
  @include flex-row;
}
.main-footer__bottom-social--decoration {
  display: flex;
  margin-right: 16px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: #d3d3d3;
  & img {
    margin: auto;
  }
  &:hover {
    background: #ff6e47;
  }
}
.main-footer__bottom-copyright {
  @include standard-text;
  font-size: 17px;
}