@mixin container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
@mixin standard-text {
  font-family: $font-main-page;
  font-size: 16px;
  line-height: 25px;
  color: $color-standard-text;
}
@mixin title-text {
  font-family: $font-title-page;
  font-size: 50px;
  line-height: 46px;
  color: $color-title-text;
}
