.work-procces {
  @include container;
  @include flex-col;
  margin-top: 132px;
}
.work-procces__title {
  @include title-text;
}
.work-procces__text {
  @include standard-text;
  margin-top: 5px;
  letter-spacing: 0.13px;
}
.work-procces__cards {
  margin-top: 105px;
  margin-left: 2px;
}
.work-procces__cards {
  @include flex-row;
  flex-wrap: wrap;

}
.work-procces__cards-item {
  @include flex-col;
  position: relative;
  margin-right: 31px;
  width: 261px;
  height: 262px;
  background: $color-card-1;
  &:nth-child(2) {
    background: $color-card-2;
  }
  &:nth-child(3) {
    background: $color-card-3;
  }
  &:nth-child(4n) {
    margin-right: 0;
    background: $color-card-4;
  }
  &:hover {
    box-shadow: 0 0 35px $bg-card-shadow;
  }
}
.work-procces__cards-title {
  margin: 17px 0 0 0;
  align-self: center;
  font-family: $font-title-page;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 25px;
  color: $color-card-text;
  order: 2;
}
.work-procces__cards-img {
  margin-top: 55px;
  align-self: center;
  order: 1;
}
.work-procces__cards-wrapper-text {
  @include flex-col;
  margin-top: 15px;
  order: 3;
}
.work-procces__cards-text {
  align-self: center;
  font-family: $font-main-page;
  font-weight: normal;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 22px;
  color: $color-card-text;

}
.work-procces__cards-btn {
  @include decoration-el;
  position: absolute;
  bottom: -25px;
  width: 228px;
  padding-left: 20px;
  padding-right: 0;
  order: 4;
  background: #ffffff;
  color: $color-card--btn-text;
}